/* Add application styles & imports to this file! */
.modal-content {
    width: 350px !important;
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 768px) {
    .modal-dialog {
        min-height: calc(100vh - 20px);
    }
}